.slider {
  /* default is width 400 and margin 10 */
	width: 200;
	margin: 10px;
}

.progress {
    position: absolute;
    top: 10px;
    right: 50%;
    margin-right: -133;
}

.slide {
    padding-top: 36px;
    /*padding-bottom: 50px;*/

}


.long_form {
    padding-top: 20px;
}

.consent_contact {
    text-align: center;
}

.consent_box {
    max-width: 850px;
    max-height: 500px;
    overflow-y: scroll;
    margin: 20px auto;
    padding: 25px;
    border: 1px solid #999;
    text-align: left;
    line-height: 1.4;
}

.consent_box h2,
.consent_box h3,
.consent_box .study_title {
    text-align: center;
}

.consent_box li {
    margin-bottom: 15px;
}

#video_err,
#consent_err {
    display: none;
    color: red;
    margin-top: 15px;
}

.consent_box a {
    color: #0056b3;
}

.intro_centered {
    text-align: center;
}

.intro_heading {
    text-align: center;
    font-weight: bold;
}

.intro_list {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    list-style-position: inside;
    font-weight: normal;
    line-height: 1.6;
}

.intro_list li {
    margin-bottom: 20px;
}